/* General Styling */

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower.png);
}
div {
    margin-top: 20px;
    margin-bottom: 50px;
}
h1 {
    text-align: center;
    font-family: "Roboto";
    font-size: 30px;
    transition-duration: 0.3s;
    margin: 5px;
}
h2 {
    text-align: center;
    font-family: "Roboto";
    font-size: 24px;
    transition-duration: 0.3s;
    margin: 5px;
}
p {
    text-align: center;
}
p, dl, td, th {
    font-family: "Roboto";
    font-size: 18px;
    transition-duration: 0.3s;
    margin: 5px;
}
dt, dd {
    transition-duration: 0.3s;
}
strong {
    transition-duration: 0.3s;
}
img {
    padding: 0px;
    margin: 0px;
}
canvas {
    margin: 5px;
}
input {
    font-family: "Roboto";
    font-size: 12px;
    width: 340px;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 8px;
    outline: none;
    background-color: #c8c8c8;
}
hr {
    background-color: #363636;
    height: 3px;
    border-width: 0;
    margin: 20px 0px;
}
button {
    font-family: "Roboto";
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 6px;
    background-color: #ffffff;
    color: #000000;
    opacity: 1;
    transition-duration: 0.3s;
    cursor: pointer;
    rotate: 0deg;
}

/* Pseudo Classes */

button:hover:not(:disabled) {
    font-size: 19px;
    background-color: #000000;
    color: #ffffff;
    rotate: 1deg;
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

dt:hover, dd:hover, p:hover, strong:hover {
    transform: translateX(5px);
}

/* Navigation Styling */

.sidenav {
    margin: 0px;
    border-radius: 12px;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 2;
    background-color: #4d1a87;
    padding-top: 40px;
    overflow-x: hidden;
    transition-duration: 0.3s;
}
.navigation_links {
    text-decoration: none;
    font-family: "Roboto";
    font-size: 24px;
    color: #999999;
    padding-left: 20px;
}
.navigation_links:hover {
    font-family: "Roboto";
    color: #ffffff;
}
.nav_button {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    transition-duration: 0.3s;
}
.nav_button:hover {
    background-color: #d9d9d9;
}
.sidenav .close_button {
    text-decoration: none;
    font-family: "Roboto";
    position: absolute;
    top: 2%;
    right: 14%;
    font-size: 32px;
    color: #f5372a;
}

/* Tooltip Styling */

.hoverable_description {
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 12px;
    white-space: nowrap;
    z-index: 999;
    transition-duration: 0.3s;
    opacity: 0;
    visibility: hidden;
}
.hoverable_description::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    left: 50%;
    transform: translateX(-50%);
}
.hoverable_description[data-arrow-position="top"]::after {
    border-color:  transparent transparent rgba(0, 0, 0, 0.65) transparent;
}
.hoverable_description[data-arrow-position="bottom"]::after {
    border-color:  rgba(0, 0, 0, 0.65) transparent transparent transparent;
}
.hoverable_description.visible {
    opacity: 1;
    visibility: visible;
}
